.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(hopefullyworks.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(255, 255, 255);
}


#hd3{
	display: inline-block;
	color: rgb(112, 101, 171);
	font-family: 'Comfortaa', cursive;
}

